Web References/UpdateSignaturePath/UpdateKN9Status.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SignatureKN9">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_RefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_SignaturePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignatureKN9Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignatureKN9Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignatureKN10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_RefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_SignaturePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignatureKN10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignatureKN10Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignatureA1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_RefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_SignaturePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignatureA1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignatureA1Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignatureA2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_RefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_SignaturePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignatureA2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignatureA2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSignedPDFContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PdfFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContractNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSignedPDFContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadSignedPDFContractResult" type="tns:UploadResponeMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UploadResponeMsg">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseResult" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadSignedPDFLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PdfFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSignedPDFLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadSignedPDFLicenseResult" type="tns:UploadResponeMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSignedPDF_CancelRenew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PdfFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReqNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSignedPDF_CancelRenewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadSignedPDF_CancelRenewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHOWALL">
        <s:complexType />
      </s:element>
      <s:element name="SHOWALLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SHOWALLResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETBYKN9">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kn9" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETBYKN9Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GETBYKN9Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEByAutoNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutoNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEByAutoNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DELETEByAutoNumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKN9AfterStampKN10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kn9no" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="recdate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="expiredate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seqno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKN9AfterStampKN10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateKN9AfterStampKN10Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKN9AfterStampKN9">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKN10" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKN9No" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKN9AfterStampKN9Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateKN9AfterStampKN9Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateA2PrintStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kn9no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateA2PrintStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateA2PrintStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignatureKN9SoapIn">
    <wsdl:part name="parameters" element="tns:SignatureKN9" />
  </wsdl:message>
  <wsdl:message name="SignatureKN9SoapOut">
    <wsdl:part name="parameters" element="tns:SignatureKN9Response" />
  </wsdl:message>
  <wsdl:message name="SignatureKN10SoapIn">
    <wsdl:part name="parameters" element="tns:SignatureKN10" />
  </wsdl:message>
  <wsdl:message name="SignatureKN10SoapOut">
    <wsdl:part name="parameters" element="tns:SignatureKN10Response" />
  </wsdl:message>
  <wsdl:message name="SignatureA1SoapIn">
    <wsdl:part name="parameters" element="tns:SignatureA1" />
  </wsdl:message>
  <wsdl:message name="SignatureA1SoapOut">
    <wsdl:part name="parameters" element="tns:SignatureA1Response" />
  </wsdl:message>
  <wsdl:message name="SignatureA2SoapIn">
    <wsdl:part name="parameters" element="tns:SignatureA2" />
  </wsdl:message>
  <wsdl:message name="SignatureA2SoapOut">
    <wsdl:part name="parameters" element="tns:SignatureA2Response" />
  </wsdl:message>
  <wsdl:message name="UploadSignedPDFContractSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSignedPDFContract" />
  </wsdl:message>
  <wsdl:message name="UploadSignedPDFContractSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSignedPDFContractResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSignedPDFLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSignedPDFLicense" />
  </wsdl:message>
  <wsdl:message name="UploadSignedPDFLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSignedPDFLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSignedPDF_CancelRenewSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSignedPDF_CancelRenew" />
  </wsdl:message>
  <wsdl:message name="UploadSignedPDF_CancelRenewSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSignedPDF_CancelRenewResponse" />
  </wsdl:message>
  <wsdl:message name="SHOWALLSoapIn">
    <wsdl:part name="parameters" element="tns:SHOWALL" />
  </wsdl:message>
  <wsdl:message name="SHOWALLSoapOut">
    <wsdl:part name="parameters" element="tns:SHOWALLResponse" />
  </wsdl:message>
  <wsdl:message name="GETBYKN9SoapIn">
    <wsdl:part name="parameters" element="tns:GETBYKN9" />
  </wsdl:message>
  <wsdl:message name="GETBYKN9SoapOut">
    <wsdl:part name="parameters" element="tns:GETBYKN9Response" />
  </wsdl:message>
  <wsdl:message name="DELETEByAutoNumberSoapIn">
    <wsdl:part name="parameters" element="tns:DELETEByAutoNumber" />
  </wsdl:message>
  <wsdl:message name="DELETEByAutoNumberSoapOut">
    <wsdl:part name="parameters" element="tns:DELETEByAutoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateKN9AfterStampKN10SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateKN9AfterStampKN10" />
  </wsdl:message>
  <wsdl:message name="UpdateKN9AfterStampKN10SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateKN9AfterStampKN10Response" />
  </wsdl:message>
  <wsdl:message name="UpdateKN9AfterStampKN9SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateKN9AfterStampKN9" />
  </wsdl:message>
  <wsdl:message name="UpdateKN9AfterStampKN9SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateKN9AfterStampKN9Response" />
  </wsdl:message>
  <wsdl:message name="UpdateA2PrintStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateA2PrintStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateA2PrintStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateA2PrintStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdateKN9StatusSoap">
    <wsdl:operation name="SignatureKN9">
      <wsdl:input message="tns:SignatureKN9SoapIn" />
      <wsdl:output message="tns:SignatureKN9SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignatureKN10">
      <wsdl:input message="tns:SignatureKN10SoapIn" />
      <wsdl:output message="tns:SignatureKN10SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignatureA1">
      <wsdl:input message="tns:SignatureA1SoapIn" />
      <wsdl:output message="tns:SignatureA1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignatureA2">
      <wsdl:input message="tns:SignatureA2SoapIn" />
      <wsdl:output message="tns:SignatureA2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDFContract">
      <wsdl:input message="tns:UploadSignedPDFContractSoapIn" />
      <wsdl:output message="tns:UploadSignedPDFContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDFLicense">
      <wsdl:input message="tns:UploadSignedPDFLicenseSoapIn" />
      <wsdl:output message="tns:UploadSignedPDFLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDF_CancelRenew">
      <wsdl:input message="tns:UploadSignedPDF_CancelRenewSoapIn" />
      <wsdl:output message="tns:UploadSignedPDF_CancelRenewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SHOWALL">
      <wsdl:input message="tns:SHOWALLSoapIn" />
      <wsdl:output message="tns:SHOWALLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETBYKN9">
      <wsdl:input message="tns:GETBYKN9SoapIn" />
      <wsdl:output message="tns:GETBYKN9SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETEByAutoNumber">
      <wsdl:input message="tns:DELETEByAutoNumberSoapIn" />
      <wsdl:output message="tns:DELETEByAutoNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKN9AfterStampKN10">
      <wsdl:input message="tns:UpdateKN9AfterStampKN10SoapIn" />
      <wsdl:output message="tns:UpdateKN9AfterStampKN10SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKN9AfterStampKN9">
      <wsdl:input message="tns:UpdateKN9AfterStampKN9SoapIn" />
      <wsdl:output message="tns:UpdateKN9AfterStampKN9SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateA2PrintStatus">
      <wsdl:input message="tns:UpdateA2PrintStatusSoapIn" />
      <wsdl:output message="tns:UpdateA2PrintStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateKN9StatusSoap" type="tns:UpdateKN9StatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignatureKN9">
      <soap:operation soapAction="http://tempuri.org/SignatureKN9" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignatureKN10">
      <soap:operation soapAction="http://tempuri.org/SignatureKN10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignatureA1">
      <soap:operation soapAction="http://tempuri.org/SignatureA1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignatureA2">
      <soap:operation soapAction="http://tempuri.org/SignatureA2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDFContract">
      <soap:operation soapAction="http://tempuri.org/UploadSignedPDFContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDFLicense">
      <soap:operation soapAction="http://tempuri.org/UploadSignedPDFLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDF_CancelRenew">
      <soap:operation soapAction="http://tempuri.org/UploadSignedPDF_CancelRenew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWALL">
      <soap:operation soapAction="http://tempuri.org/SHOWALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETBYKN9">
      <soap:operation soapAction="http://tempuri.org/GETBYKN9" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEByAutoNumber">
      <soap:operation soapAction="http://tempuri.org/DELETEByAutoNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKN9AfterStampKN10">
      <soap:operation soapAction="http://tempuri.org/UpdateKN9AfterStampKN10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKN9AfterStampKN9">
      <soap:operation soapAction="http://tempuri.org/UpdateKN9AfterStampKN9" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateA2PrintStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateA2PrintStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateKN9StatusSoap12" type="tns:UpdateKN9StatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignatureKN9">
      <soap12:operation soapAction="http://tempuri.org/SignatureKN9" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignatureKN10">
      <soap12:operation soapAction="http://tempuri.org/SignatureKN10" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignatureA1">
      <soap12:operation soapAction="http://tempuri.org/SignatureA1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignatureA2">
      <soap12:operation soapAction="http://tempuri.org/SignatureA2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDFContract">
      <soap12:operation soapAction="http://tempuri.org/UploadSignedPDFContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDFLicense">
      <soap12:operation soapAction="http://tempuri.org/UploadSignedPDFLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSignedPDF_CancelRenew">
      <soap12:operation soapAction="http://tempuri.org/UploadSignedPDF_CancelRenew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHOWALL">
      <soap12:operation soapAction="http://tempuri.org/SHOWALL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETBYKN9">
      <soap12:operation soapAction="http://tempuri.org/GETBYKN9" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEByAutoNumber">
      <soap12:operation soapAction="http://tempuri.org/DELETEByAutoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKN9AfterStampKN10">
      <soap12:operation soapAction="http://tempuri.org/UpdateKN9AfterStampKN10" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKN9AfterStampKN9">
      <soap12:operation soapAction="http://tempuri.org/UpdateKN9AfterStampKN9" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateA2PrintStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateA2PrintStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateKN9Status">
    <wsdl:port name="UpdateKN9StatusSoap" binding="tns:UpdateKN9StatusSoap">
      <soap:address location="http://test.export.ocsb.go.th/WebService/UpdateKN9Status.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateKN9StatusSoap12" binding="tns:UpdateKN9StatusSoap12">
      <soap12:address location="http://test.export.ocsb.go.th/WebService/UpdateKN9Status.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>